#body {
  text-align: center;
  }

.content {
  color: darkgoldenrod;
  text-align: left;
  text-indent: 15px;
  font-size: 18px;
  }

.footer {
  color: darkred;
  display: inline-block;
  }

.footer p {
  font-size: 20px;
  }

.footer a {
  text-decoration: none;
  color: darkgoldenrod !important;
  font-size: 15px;
  }
